{% extends 'base.html' %}

{% block main %}
<div class="profile">
    <div class="profile_picture">
        <img src="{{ user_image }}" alt="Profile Picture">
    </div>
    <div class="profile_info">
        <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
        <p>{{ current_user.email }}</p>
    </div>
</div>

<div class="form_container">
    <form class="login_form" method="POST" action="" enctype="multipart/form-data">
        <h2>Update Profile</h2>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
            {{ form.email }}
            {{ form.first_name }}
            {{ form.last_name }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
            <h3>Update Profile Picture</h3>
            {{ form.picture }}
            {{ form.submit }}
            <p><a href="{{ url_for('users.change_password', user_id=current_user.user_id) }}">Change Password</a></p>
    </form>
</div>


{% endblock %}