{% extends 'base.html' %}

{% block main %}
    <div class="profile">
        <div class="profile_picture">
            <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
        </div>
        <div class="profile_info">
            <h1>{{ child.first_name }} {{ child.last_name }}</h1>
            <h3>{{ events.total }} Total Logs</h3>
            <h4>{{ child.dob }} ({{ age }})</h4>
            <p><a href="{{ url_for('children.edit_profile', child_id=child.child_id) }}">Edit Profile</a></p>
        </div>
    </div>
    <div class="child_assigned">
        <h2>Parents</h2>
        {% for parent in child.parents %}
            <div class="profile">
                <div class="profile_picture">
                    <a href="{{ url_for('users.others_profile', user_id=parent.user_id)}}">
                    <img src="{{ url_for('static', filename='profile_pics/' + parent.user.picture) }}" alt="Child Picture">
                    </a>
                </div>
                <div class="profile_info">
                    <h4><a href="{{ url_for('users.others_profile', user_id=parent.user_id)}}">{{ parent.user.first_name }} {{ parent.user.last_name }}</a></h4>
                    {% if current_user.role == 'manager' %}
                        <a href="{{ url_for('children.remove_parent_association', child_id=child.child_id, parent_id=parent.parent_id)}}">Remove as Parent</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="child_assigned">
        <h2>Nannies</h2>
        {% for nanny in child.nannies %}
            <div class="profile">
                <div class="profile_picture">
                    <a href="{{ url_for('users.others_profile', user_id=nanny.user_id)}}">
                    <img src="{{ url_for('static', filename='profile_pics/' + nanny.user.picture) }}" alt="Child Picture">
                    </a>
                </div>
                <div class="profile_info">
                    <h4><a href="{{ url_for('users.others_profile', user_id=nanny.user_id)}}">{{ nanny.user.first_name }} {{ nanny.user.last_name }}</a></h4>
                    {% if current_user.role == 'manager' %}
                        <a href="{{ url_for('children.remove_nanny_association', child_id=child.child_id, nanny_id=nanny.nanny_id)}}">Remove as Nanny</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="feed">
        <h2>Log Feed</h2>
        {% for event in events.items %}
            <div class="log">
                {% if event.activities %}
            {% for activity in event.activities %}
                    <div class="activity">
                        <a href="{{ url_for('events.post', event_id=activity.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>Activity</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ event.children.first_name }} {{ activity.description }} for {{ activity.duration }} minutes.
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.sleeps %}
            {% for sleep in event.sleeps %}
                    <div class="sleep">
                        <a href="{{ url_for('events.post', event_id=sleep.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>Sleep</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{event.children.first_name}} went to sleep at {{ sleep.sleep_start }} and woke up at {{ sleep.sleep_end }}.
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.foods %}
            {% for food in event.foods %}
                    <div class="food">
                        <a href="{{ url_for('events.post', event_id=food.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>{{ food.meal_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% if event.children.gender == "m" %}
                                        {{event.children.first_name}} had {{ food.description }} for his {{ food.meal_type }}.
                                    {% elif event.children.gender == "f" %}
                                        {{event.children.first_name}} had {{ food.description }} for her {{ food.meal_type }}.
                                    {% else %}
                                        {{event.children.first_name}} had {{ food.description }} for their {{ food.meal_type }}.
                                    {% endif %}
                                </p>
                                {% if food.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Food">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.developmentals %}
            {% for developmental in event.developmentals %}
                    <div class="developmental">
                        <a href="{{ url_for('events.post', event_id=developmental.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>Developmental Milestone</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{event.children.first_name}} {{developmental.description}}.
                                </p>
                                {% if developmental.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Developmental">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.incidents %}
            {% for incident in event.incidents %}
                    <div class="incident">
                        <a href="{{ url_for('events.post', event_id=incident.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>{{ incident.incident_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{incident.description}}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.medications %}
            {% for medication in event.medications %}
                    <div class="medication">
                        <a href="{{ url_for('events.post', event_id=medication.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>Medication</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ event.children.first_name }} was given {{ medication.amount }} of {{ medication.medication_name }} at {{ medication.time_given }}
                                    {% if medication.reason %}
                                        due to {{ medication.reason }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.nappies %}
            {% for nappy in event.nappies %}
                    <div class="nappy">
                        <a href="{{ url_for('events.post', event_id=nappy.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>{{ nappy.nappy_type | capitalize }}</h4>

                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% if nappy.nappy_type == "nappy" %}
                                        {{ event.children.first_name }} had a nappy change.
                                    {% elif nappy.nappy_type == "potty" %}
                                        {{ event.children.first_name }} used the potty.
                                    {% endif %}
                                </p>
                                <br>
                                <p>
                                    {% if nappy.condition %}
                                        Additional info: {{ nappy.condition }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.notes %}
            {% for note in event.notes %}
                    <div class="note">
                        <a href="{{ url_for('events.post', event_id=note.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    Note
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{  note.description }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% if event.pictures %}
            {% for picture in event.pictures %}
                    <div class="picture">
                        <a href="{{ url_for('events.post', event_id=picture.event_id) }}">

                            <div class="event_title_container">
                                <div class="event_title">
                                    <h4>Picture</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <img src="{{ url_for('static', filename='event_pics/' + picture.picture_file) }}" alt="Picture">
                                <p class="description">
                                    {{  picture.caption }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            {% if event.user_id == current_user.user_id %}
                            <div class="delete">
                                <a href="{{ url_for('events.delete_event', event_id=event.event_id) }}">Delete Log</a>
                            </div>
                            {% endif %}
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% endfor %}
    {% if events.pages > 1 %}
        <div class="pagination">
            {% for page_num in events.iter_pages() %}
                {% if page_num %}
                    {% if events.page == page_num %}
                        <a class="active_page" href="{{ url_for('children.child_profile', child_id=child.child_id, page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="inactive_page" href="{{ url_for('children.child_profile', child_id=child.child_id, page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if current_user.role == 'manager' %}
    <a href="{{ url_for('children.remove_child', child_id=child.child_id) }}">Remove Child</a>
    {% endif %}

{% endblock %}