/* General Style */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}

body {
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E1E1E1;
}

main {
    padding: 0 250px;
    flex: 1;
    
}

footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}



/* Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 70px;
    align-items: center;
    background-color: #222222;
    color: #FFFFFF;
}

nav .openMenu, nav .closeMenu {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    white-space: nowrap;
}

nav ul li {
    margin: 0 10px;
    font-size: 16px;
}

nav ul li a {
    color: #FFFFFF;
}

nav ul li a:hover {
    color: #AAAAAA;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu {
    justify-self: center;
}



.login {
    justify-self: flex-end;
}

/* Elements */

li {
    text-decoration: none;
    list-style: none;
    
}


a {
    text-decoration: none;
    color: #000000;
}


nav, div, form {
    -webkit-tap-highlight-color: transparent;
}

/* General Forms */

form {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}


input {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 5px; 
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
   
}

input:focus {
    background-color: #E1E1E1;

    box-shadow: 
        0px 0px 8px #000000,
        inset 0 0 3px #000000;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    
    /* Started as a login form and got used throughout project */

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
    margin: 20px auto; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 1px 2px 1px #999999;

}

.login_form input {
    background-color: #E9E9E9;
}



.login_form ul {
    display: flex;
    justify-content: center;
    margin: auto auto 50px;
    padding: 0;
    flex-wrap: wrap;
}

.login_form ul li {
    margin: 0;
    padding: 0;
}


.login_form p {
    color: #000000;
}

.login_form a {
    color: #FFFFFF;
    text-shadow: #000000 0 0 4px;
}

.login_form a:hover {
    color: #FFFFFF;
    text-shadow: #000000 0 0 3px;
}

.login_form button {
    margin: 20px 0 30px;
}

.login_form input {
    box-shadow: none;
    border: none;
    width: 300px;
    margin: 20px auto;
    border-top: none;
}


.login_form h2 {
    margin: 0;
}

.login_form h3 {
    margin: 20px;
}

.description_form textarea {
    height: 80px;
    width: 300px;
    border-radius: 20px;
    border: #666666 1px solid;
    padding: 20px;
    margin-top: 20px;
    background-color: #F1F1F1;
    font-size: 17px;
}

#picture {
    border: #000000 1px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
}

/* Events Feed and Logs */

.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.feed h1 {
    margin: 20px
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 10px 0;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 1px 2px 1px #999999;
}

.log p {
    text-align: center;
}


.activity, .sleep, .food, .developmental, .incident, .medication, .nappy, .note, .picture {
    position: relative;
    margin: 20px;
    width: 100%;
    border-radius: 50px;
    
}

.activity {
    border: #1E90FF 2px solid; /* Dodger Blue */
}

.sleep {
    border: #008000 2px solid; /* Green */
}

.food {
    border: #FFD700 2px solid; /* Gold */
}

.developmental {
    border: #FF6347 2px solid; /* Tomato */
}

.incident {
    border: #8A2BE2 2px solid; /* Blue Violet */
}

.medication {
    border: #FF4500 2px solid; /* Orange Red */
}

.nappy {
    border: #FF0000 2px solid; 
}

.note {
    border: #4B0082 2px solid; /* Indigo */
}

.picture {
    border: #FF69B4 2px solid; /* Hot Pink */
}

.event_title_container {
    position: absolute;
    top: -20px;
    left: 35px;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
  }


.event_title {
    margin: 0 10px 0 0;
}


.event_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px
}

.event_info img {
    margin: 20px;
    align-self: center;
}


.description {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 20px;

}

.event_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 40px 10px;
    width: 80%;
}

.delete, .timestamp {
    font-size: 14px;
}

.active_page {
    font-weight: 600;
}

.comment_emoji, .delete_comment {
    display: flex;
    flex-direction: row;
}

.fa-solid.fa-comment, .fa-solid.fa-trash {
    padding: 3px 5px 0 0
}



/* Profile and Profile Pictures */


.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_picture {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    position: relative;
}

.profile_picture img, .comment_profile_picture img, .form_profile_picture img, .log_profile_picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.comment_profile_picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.log_profile_picture {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: -10px;
}

.form_profile_picture {
    display: flex;
    width: 100px;
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
    margin: 20px 50px;
    position: relative;
    justify-content: center;

}

/* Posts and Comments */

.comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0 #999999;
    margin: 25px 50px;
}

.text {
    font-size: 18px;
    flex: 1;
    padding: 20px 0;

}

.commenter {
    font-size: 14px;
}

.comment_container a.delete {
    right: 20px;
}

.comment_container {
    width: 80%;

}

.delete_comment, .comment_emoji {
    cursor: pointer;
    font-weight: 600;

}

.comment_emoji:hover {
    color: #00B100;
}

.delete_comment:hover {
    color: #FF0000;
}

.top_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}


/* Events Tab */

.events_container {
    position: fixed;
    bottom: 20px;
    right: 50px;

}

.add_event {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 50px;
    color: #008000;
    cursor: pointer;
    text-shadow: #777777 2px 2px 5px;
    transition: all 200ms ease-in-out;

}

.add_event:hover {
    font-size: 60px;
    bottom: 25px;
    right: 30px;
    text-shadow: #777777 4px 4px 7px;
    transition: all 200ms ease-in-out;

}

.close_tab {
    font-size: 30px;
    margin: 10px 0 0;
    padding: 0;
    cursor: pointer;
}


.events {
    padding: 0 20px 20px;
    border-radius: 20px;
    height: auto;
    position: fixed;
    display: flex;
    bottom: -450px;
    right: 10px;
    width: auto;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1000ms ease-in-out;
}

.events ul li {
    font-size: 20px;
    text-align: center;
}

/* Add Event Page */

.custom-checkbox {
    display: flex;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox img {
    background-image: linear-gradient(#CC43EF, #9227F0);
    color: #FFFFFF;
    box-shadow: 
        0 0 203px #000000,
        inset #000000 0px 0px 3px;
}


.selected-image {
    opacity: 0.5;
}


@media only screen and (max-width: 768px){
    
    /* General Styling */

    body {
        margin-top: 120px;
    }

    main {
        padding: 0 20px;
        max-width: 100%;
    }

    /* Nav and Menu */

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 30px 0;
        color: #000000;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
    }
    

    nav .links {
        height: 100vh;
        position: fixed;
        display: flex;
        top: 0;
        left: -70%;
        width: 70%;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 1000ms ease-in-out;
        background-color: #222222;

    }

    nav .openMenu {
        display: block;
        color: #FFFFFF;
        font-size: 40px;
        cursor: pointer;
        justify-self: flex-start;
        margin-left: 20px;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        color: #FFFFFF;
        top: 25px;
        left: 20px;
        font-size: 40px;
        margin-left: 20px;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    nav ul li, .login {
        text-align: left;
        padding: 30px;
        font-size: 35px;
    }

    nav ul li::after {
        content: "";
        display: block; 
        border-bottom: 1px solid #FFFFFF; 
        margin-top: 5px; 
    }


    .login {
        justify-self: flex-start;
    
    }

    .login ul {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }

    .login ul li {
        font-size: 22px;
    }

    
    .title {
        padding-right: 30px;
        text-align: center;
        justify-self: flex-end;
        align-self: center;
    }
 
    /* Elements */

    h1 {
        margin: 20px;
    }

    /* Feed and Logs */

    .feed {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .log {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
    }

    .log p {
        text-align: center;
        padding: 0;
    }

    .activity, .sleep, .food, .developmental, .incident, .medication, .nappy, .note, .picture {
        border-radius: 50px;
        padding: 20px;
        margin: 0 10%;
        width: 80%;
    }

    /* Add events */

    .events {
        background-color: #222222;
        height: 420px;
        width: 200px;
    }

    .event_links a {
        color: #FFFFFF;
    }

    .event_links ul li {
        margin-bottom: 10px;
    }

    .close_tab {
        color: #FFFFFF;
    }

    .add_event {
        position: absolute;
        bottom: 20px;
        right: -20px;
        font-size: 50px;
        color: #008000;
        transition: all 200ms ease-in-out;
        cursor: pointer;
    
    }

    /* General Forms */

    #picture {
        
        padding: 10px;
    }
    
    .login_form {
        margin: 0; 
        width: auto;
        padding: 20px 10px;
    }

    .login_form ul {
        display: flex;
        justify-content: center;
        margin: auto auto 50px;
        padding: 0;
        flex-wrap: wrap;
    }
    
    .login_form ul li {
        margin: 0;
        padding: 0;
    }


    .description_form textarea {
        height: 50px;
        width: 80%;
    }

    /* Profile and Profile Pictures */

    .form_profile_picture {
        display: flex;
        width: 100px;
        height: 100px; 
        overflow: hidden; 
        border-radius: 50%;
        margin: 20px 20px;
        position: relative;
        justify-content: center;
    
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comment_profile_picture {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin: 20px;
        position: relative;
    }

    /* Comments and Posts */

    .comment {
        display: flex;
        align-items: center;
    }
    
    .text {
        font-size: 18px;
        flex: 1;
        padding: 10px 0;
    
    }
    
    .commenter {
        font-size: 14px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {

    /* General Styling */

    body {
        margin-top: 90px;
    }

    main {
        margin-top: 20px;
    }
    
    /* Elements */

    h1 {
        text-align: center;
        padding: 0 10px;
    }

    /* Nav and Menu */

    nav ul li, .login {
        padding: 20px;
        font-size: 25px;
    }

    .login ul li {
        margin-top: 50px;
        font-size: 16px;
        padding: 5px;
    }

    nav .openMenu, nav .closeMenu {
        font-size: 25px;
    }

    .title {
        font-size: 20px;
        margin-right: 0;
    }
}