/* General Style */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}

body {
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 250px;
    flex: 1;
    
}

footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 70px;
    align-items: center;
}

nav .openMenu, nav .closeMenu {
    display: none;
}

.openMenu i, .closeMenu i {
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    font-size: 18px;
}

nav ul li a:hover {
    color: #222222;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu {
    justify-self: center;
}



.login {
    justify-self: flex-end;
}

/* Elements */

li {
    text-decoration: none;
    list-style: none;
    
}


a {
    text-decoration: none;
}


h1 {
    

}

h2, h3, h4 {
    text-align: center;
    color: #000000;
}

h2:first-of-type {
    margin-top: 50px;
}

nav, div, form {
    -webkit-tap-highlight-color: transparent;
}

/* General Forms */

form {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}


input {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 5px; 
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
   
}

input:focus {
    background-color: #E1E1E1;

    box-shadow: 
        0px 0px 8px #000000,
        inset 0 0 3px #000000;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    background-color: rgb(180, 180, 180, 0.6);
    border-radius: 20px;
    padding: 40px;
    margin: 20px auto; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
}

.login_form p {
    color: #000000;
}

.login_form a {
    color: #FFFFFF;
    text-shadow: #000000 0 0 4px;
}

.login_form a:hover {
    color: #FFFFFF;
    text-shadow: #000000 0 0 3px;
}

.login_form button {
    margin: 20px 0 30px;
}

.login_form input {
    box-shadow: none;
    border: none;
    width: 300px;
    margin: 20px auto;
    border-top: none;
}


.login_form h2 {
    margin: 0;
}

.feed {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.log {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.log p {
    text-align: center;
}

.activity, .sleep, .food, .developmental, .incident, .medication, .nappy, .note, .picture {
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    width: 70%;
}


.activity {
    background-color: #FF0000;
}

.developmental {
    background-color: orange;
}

.food {
    background-color: #0000FF;
}


.sleep {
    background-color: #00FF00;
}

.description {
    font-size: 20px;
    text-align: center;
    padding: 50px 50px 0;

}

.log p.timestamp {
    font-size: 14px;
    text-align: end;
    padding: 20px 10px 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_picture {
    width: 140px; /* Set a fixed width for the container */
    height: 140px; /* Set a fixed height for the container */
    overflow: hidden; /* Ensure the circular shape is maintained */
    border-radius: 50%;
    margin: 20px;
    position: relative; /* Positioning context for absolute positioning of the image */
}

.profile_picture img, .comment_profile_picture img {
    width: 100%; /* Use 100% width to fill the container */
    height: auto;
    display: block; /* Eliminate any spacing issues */
    object-fit: cover; /* Ensure the image covers the entire container */
    object-position: center center; /* Center the image within the container */
    position: absolute; /* Position the image absolutely within its container */
    top: 50%; /* Move the top of the image down to the center */
    left: 50%; /* Move the left of the image to the center */
    transform: translate(-50%, -50%); /* Center the image using transform */
}

.comment_profile_picture {
    width: 100px; /* Set a fixed width for the container */
    height: 100px; /* Set a fixed height for the container */
    overflow: hidden; /* Ensure the circular shape is maintained */
    border-radius: 50%;
    margin: 20px 50px;
    position: relative; /* Positioning context for absolute positioning of the image */
}

.active_page {
    font-weight: 600;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 18px;
}

.commenter {
    font-size: 14px;
    margin-bottom: 20px;
}

.text {
    flex: 1;
}


@media screen and (max-width: 768px){
    
    main {
        padding: 0 0;
    }

    .feed {
        flex-direction: column;
        width: 80%;
        margin: 0 10%;
    }

    .log {
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }

    .log p {
        text-align: center;
        padding: 0;
    }

    .activity, .sleep, .food, .developmental, .incident, .medication, .nappy, .note, .picture {
        border-radius: 50px;
        padding: 20px;
        margin: 0 10%;
        width: 80%;
    }
}