{% extends 'base.html' %}

{% block main %}

<div class="form_container">
    <form class="login_form" method="POST" action="" enctype="multipart/form-data">
        <h2>Food/Bottle</h2>
        {{ form.hidden_tag() }}
        <ul>
            {% for choice, label in form.child.choices %}
            {% set child = Child.query.filter_by(child_id=choice).first() %}
                <li>
                    <div class="form_profile_picture">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="{{ form.child.name }}" value="{{ choice }}">
                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                    </label>
                </div>
                <span class="custom-checkbox-label">{{ label }}</span>
                </li>
            {% endfor %}
        </ul>
        {{ form.meal_type }}
        <h3>Food Description/Bottle Quantity</h3>
        <div class="description_form">
            {{ form.description }}
        </div>
        <h3>Upload Picture</h3>
        {{ form.picture }}
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        {{ form.submit() }}
    
    </form>
</div>


{% endblock %}