{% extends 'base.html' %}

{% block main %}

<div class="form_container">
    <form class="login_form" method="POST" action="">
        <h2>Incident</h2>
        {{ form.hidden_tag() }}
        <ul>
            {% for choice, label in form.child.choices %}
            {% set child = Child.query.filter_by(child_id=choice).first() %}
                <li>
                    <div class="form_profile_picture">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="{{ form.child.name }}" value="{{ choice }}">
                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                    </label>
                </div>
                <span class="custom-checkbox-label">{{ label }}</span>
                </li>
            {% endfor %}
        </ul>
        <h3>Incident Type</h3>
        {{ form.incident_type }}
        <h3>Description of Incident</h3>
        <div class="description_form">
            {{ form.description(placeholder="Description of Incident") }}
        </div>
        {{ form.submit() }}
        
    </form>
</div>


{% endblock %}