{% extends 'base.html' %}

{% block main %}

<div class="form_container">
    <form class="login_form" method="POST" action="">
        <h2>Nappy/Potty</h2>
        {{ form.hidden_tag() }}
        <ul>
            {% for choice, label in form.child.choices %}
                <li>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="{{ form.child.name }}" value="{{ choice }}">
                        <span class="custom-checkbox-label">{{ label }}</span>
                    </label>
                </li>
            {% endfor %}
        </ul>
        {{ form.nappy_type }}
        {{ form.condition(placeholder="Condition of Nappy/Potty if relevant") }}
        {{ form.submit() }}
        
    </form>
</div>


{% endblock %}