{% extends 'base.html' %}

{% block main %}
<div class="feed">

    <div class="log">
        {% if event.activities %}
            {% for activity in event.activities %}
                    <div class="activity">
                        <a href="{{ url_for('events.post', event_id=activity.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>Activity</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ event.children.first_name }} {{ activity.description }} for {{ activity.duration }} minutes.
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.sleeps %}
            {% for sleep in event.sleeps %}
                    <div class="sleep">
                        <a href="{{ url_for('events.post', event_id=sleep.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>Sleep</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{event.children.first_name}} went to sleep at {{ sleep.sleep_start }} and woke up at {{ sleep.sleep_end }}.
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.foods %}
            {% for food in event.foods %}
                    <div class="food">
                        <a href="{{ url_for('events.post', event_id=food.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>{{ food.meal_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% if event.children.gender == "m" %}
                                        {{event.children.first_name}} had {{ food.description }} for his {{ food.meal_type }}.
                                    {% elif event.children.gender == "f" %}
                                        {{event.children.first_name}} had {{ food.description }} for her {{ food.meal_type }}.
                                    {% else %}
                                        {{event.children.first_name}} had {{ food.description }} for their {{ food.meal_type }}.
                                    {% endif %}
                                </p>
                                {% if food.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Food">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.developmentals %}
            {% for developmental in event.developmentals %}
                    <div class="developmental">
                        <a href="{{ url_for('events.post', event_id=developmental.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>Developmental Milestone</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{event.children.first_name}} {{developmental.description}}.
                                </p>
                                {% if developmental.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Developmental">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.incidents %}
            {% for incident in event.incidents %}
                    <div class="incident">
                        <a href="{{ url_for('events.post', event_id=incident.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>{{ incident.incident_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{incident.description}}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.medications %}
            {% for medication in event.medications %}
                    <div class="medication">
                        <a href="{{ url_for('events.post', event_id=medication.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>Medication</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ event.children.first_name }} was given {{ medication.amount }} of {{ medication.medication_name }} at {{ medication.time_given }}
                                    {% if medication.reason %}
                                        due to {{ medication.reason }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.nappies %}
            {% for nappy in event.nappies %}
                    <div class="nappy">
                        <a href="{{ url_for('events.post', event_id=nappy.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>{{ nappy.nappy_type | capitalize }}</h4>

                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% if nappy.nappy_type == "nappy" %}
                                        {{ event.children.first_name }} had a nappy change.
                                    {% elif nappy.nappy_type == "potty" %}
                                        {{ event.children.first_name }} used the potty.
                                    {% endif %}
                                </p>
                                <br>
                                <p>
                                    {% if nappy.condition %}
                                        Additional info: {{ nappy.condition }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.notes %}
            {% for note in event.notes %}
                    <div class="note">
                        <a href="{{ url_for('events.post', event_id=note.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    Note
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{  note.description }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% if event.pictures %}
            {% for picture in event.pictures %}
                    <div class="picture">
                        <a href="{{ url_for('events.post', event_id=picture.event_id) }}">

                            <div class="event_title_container">
                                <a href="{{ url_for('children.child_profile', child_id=event.children.child_id )}}">
                                    <div class="log_profile_picture">
                                        <img src="{{ url_for('static', filename='profile_pics/' + event.children.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                <div class="event_title">
                                    <h4>Picture</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <img src="{{ url_for('static', filename='event_pics/' + picture.picture_file) }}" alt="Picture">
                                <p class="description">
                                    {{  picture.caption }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="event_bottom">
                {% if event.user_id == current_user.user_id %}
                    <div>
                    </div>
                    <div class="delete_comment" data-url="{{ url_for('events.delete_event', event_id=event.event_id) }}" onclick="redirectToUrl(this)">
                        <i class="fa-solid fa-trash"></i><p>Delete</p>
                    </div>
                {% endif %}
            </div>
    </div>
</div>
<div class="comments">
    {% if comments %}
        <h2>{{ comments.total }} Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                {% set user = User.query.get(comment.user_id) %}
                <div class="comment_profile_picture">
                    <a href="{{ url_for('users.others_profile', user_id=comment.user_id) }}">
                        <img src="{{ url_for('static', filename='profile_pics/' + user.picture) }}" alt="Profile Picture">
                    </a>
                </div>
                <div class="comment_container">
                    <div class="commenter">
                        <div class="top_comment">
                        <h3><a href="{{ url_for('users.others_profile', user_id=comment.user_id) }}">{{ user.first_name }} {{ user.last_name }}</a></h3>
                            {% if user.user_id == current_user.user_id %}
                                <div class="delete_comment" data-url="{{ url_for('events.delete_comment', comment_id=comment.comment_id) }}" onclick="redirectToUrl(this)">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            {% endif %}
                        </div>
                        <p>{{ comment.comment_time|format_date}}</p>
                    </div>
                    <div class="text">
                        {{ comment.comment_text }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


<div class="form_container">
    <form class="login_form" method="POST" action="">
        <h2>Add comment</h2>
        {{ form.hidden_tag() }}
        <div class="description_form">
            {{ form.comment_text(placeholder="Write a comment...") }}
        </div>
        {{ form.submit() }}

    </form>
</div>


{% endblock %}