{% extends 'base.html' %}

{% block main %}

<div class="form_container">
    <form class="login_form" method="POST" action="">
        <h2>Sleep</h2>
        {{ form.hidden_tag() }}
        <ul>
            {% for choice, label in form.child.choices %}
            {% set child = Child.query.filter_by(child_id=choice).first() %}
                <li>
                    <div class="form_profile_picture">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="{{ form.child.name }}" value="{{ choice }}">
                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                    </label>
                </div>
                <span class="custom-checkbox-label">{{ label }}</span>
                </li>
            {% endfor %}
        </ul>
        {{ form.sleep_start(placeholder="Sleep Start") }}
        {{ form.sleep_end(placeholder="Sleep End") }}
        {{ form.submit() }}
        
    </form>
</div>


{% endblock %}