<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <nav>
        <div class="openMenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <a href="{{ url_for('index') }}" class="title">Nanny Log</a>
        <div class="links">
            <div class="menu">

                <div class="closeMenu">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == 'nanny' or current_user.role == 'parent' %}
                            <li><a href="{{ url_for('children.my_kids') }}">My Kids</a></li>
                        {% endif %}
                        {% if current_user.role == 'manager' %}
                            <li><a href="{{ url_for('children.assign_child') }}">Assign Child</a></li>
                            <li><a href="{{ url_for('children.add_child') }}">Add Child</a></li>
                            <li><a href="{{ url_for('users.view_profiles') }}">View Profiles</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="login">
                <ul>
                    {% if current_user.is_authenticated %}

                        <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('users.logout') }}">Logout</a></li>

                    {% else%}

                        <li><a href="{{ url_for('users.login') }}">Login</a></li>
                        <li><a href="{{ url_for('users.register') }}">Register</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert" role="alert">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block main %}


        {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; 2023 NannyLog</p>
        <p>Built with Love and Compassion</p>
        <a href="mailto:nannylogsapp@gmail.com">Contact Us</a>
    </footer>
</body>
</html>