{% extends 'base.html' %}

{% block main %}
    <div class="profile_picture">
        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
        <h1>{{ child.first_name }} {{ child.last_name }}</h1>
        <h3>{{ events.total }} Total Logs</h3>
    </div>
    {% for event in events.items %}
        <div class="feed">
            {% if event.activities %}
                {% for activity in event.activities %}
                    <div class="log">
                        <div class="activity">
                            <h4>Activity</h4>
                            <p class="description">
                                {{ event.children.first_name }} {{ activity.description }} for {{ activity.duration }} minutes.
                            </p>
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.sleeps %}
                {% for sleep in event.sleeps %}
                    <div class="log">
                        <div class="sleep">
                            <h4>Sleep</h4>
        
                            <p class="description">
                                {{event.children.first_name}} went to sleep at {{ sleep.sleep_start }} and woke up at {{ sleep.sleep_end }}.
                            </p>
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.foods %}
                {% for food in event.foods %}
                    <div class="log">
                        <div class="food">
                            <h4>{{ food.meal_type | capitalize }}</h4>
        
                            <p class="description">
                                {% if event.children.gender == "m" %}
                                    {{event.children.first_name}} had {{ food.description }} for his {{ food.meal_type }}.
                                {% elif event.children.gender == "f" %}
                                    {{event.children.first_name}} had {{ food.description }} for her {{ food.meal_type }}.
                                {% else %}
                                    {{event.children.first_name}} had {{ food.description }} for their {{ food.meal_type }}.
                                {% endif %}

                            </p>
                            {% if food.picture %}
                                <img src="{{ url_for('static', filename='food_pics/' + food.picture) }}" alt="Food">
                            {% endif %}

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.developmentals %}
                {% for developmental in event.developmentals %}
                    <div class="log">
                        <div class="developmental">
                            <h4>Developmental Milestone</h4>
        
                            <p class="description">
                                {{event.children.first_name}} {{developmental.description}}.
                            </p>
                            {% if developmental.picture %}
                                <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Developmental">
                            {% endif %}

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.incidents %}
                {% for incident in event.incidents %}
                    <div class="log">
                        <div class="incident">
                            <h4>{{ incident.incident_type | capitalize }}</h4>
        
                            <p class="description">
                                {{incident.description}}
                            </p>

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.medications %}
                {% for medication in event.medications %}
                    <div class="log">
                        <div class="medication">
                            <h4>Medication</h4>
        
                            <p class="description">
                                {{ event.children.first_name }} was given {{ medication.amount }} of {{ medication.medication_name }} at {{ medication.time_given }}
                                {% if medication.reason %}
                                    due to {{ medication.reason }}
                                {% endif %}
                            </p>

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.nappies %}
                {% for nappy in event.nappies %}
                    <div class="log">
                        <div class="nappy">
                            <h4>{{ nappy.nappy_type | capitalize }}</h4>
        
                            <p class="description">
                                {% if nappy.nappy_type == "nappy" %}
                                    {{ event.children.first_name }} had a nappy change.
                                {% elif nappy.nappy_type == "potty" %}
                                    {{ event.children.first_name }} used the potty.
                                {% endif %}
                            </p>
                            <br>
                            <p>
                                {% if nappy.condition %}
                                    Additional info: {{ nappy.condition }}
                                {% endif %}
                            </p>

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.notes %}
                {% for note in event.notes %}
                    <div class="log">
                        <div class="note">
                            <h4>Note</h4>
        
                            <p class="description">
                                {{  note.description }}
                            </p>

                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>

    {% endfor %}
    {% if events.pages > 1 %}
        <div class="pagination">
            {% for page_num in events.iter_pages() %}
                {% if page_num %}
                    {% if events.page == page_num %}
                        <a class="active_page" href="{{ url_for('main.child_profile', child_id=child.child_id, page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="inactive_page" href="{{ url_for('main.child_profile', child_id=child.child_id, page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}