{% extends 'base.html' %}

{% block main %}

<div class="background">
<div class="feed">
    {% if current_user.is_authenticated %}
        <h1>Hello {{ current_user.first_name }}</h1>
    {% for event in events.items %}
    <div class="log">
        {% if event.activities %}
            {% for activity in event.activities %}
                    <div class="activity">
                        <a href="{{ url_for('events.post', event_id=activity.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Activity</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ activity.description }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.sleeps %}
            {% for sleep in event.sleeps %}
                    <div class="sleep">
                        <a href="{{ url_for('events.post', event_id=sleep.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Sleep</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                {% if event.children %}
                                    <p class="description">
                                        {% for child in event.children %}
                                        {% if loop.length > 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }},
                                            {% elif loop.last %}
                                                and {{ child.first_name }}
                                            {% endif %}
                                        {% elif loop.length == 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }} and
                                            {% elif loop.last %}
                                                {{ child.first_name }}
                                            {% endif %}
                                        {% else %}
                                            {{ child.first_name }}
                                        {% endif %}
                                        {% endfor %}
                                        went to sleep at {{ sleep.sleep_start }}
                                        and woke up at {{ sleep.sleep_end }}.
                                    </p>
                                {% endif %}

                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.foods %}
            {% for food in event.foods %}
                    <div class="food">
                        <a href="{{ url_for('events.post', event_id=food.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>{{ food.meal_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ food.description }}
                                </p>
                                {% if food.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Food">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.developmentals %}
            {% for developmental in event.developmentals %}
                    <div class="developmental">
                        <a href="{{ url_for('events.post', event_id=developmental.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Developmental Milestone</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{developmental.description}}.
                                </p>
                                {% if developmental.picture %}
                                    <img src="{{ url_for('static', filename='event_pics/' + food.picture) }}" alt="Developmental">
                                {% endif %}
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.incidents %}
            {% for incident in event.incidents %}
                    <div class="incident">
                        <a href="{{ url_for('events.post', event_id=incident.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>{{ incident.incident_type | capitalize }}</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{incident.description}}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.medications %}
            {% for medication in event.medications %}
                    <div class="medication">
                        <a href="{{ url_for('events.post', event_id=medication.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Medication</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% for child in event.children %}
                                        {% if loop.length > 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }},
                                            {% elif loop.last %}
                                                and {{ child.first_name }} were
                                            {% endif %}
                                        {% elif loop.length == 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }} and
                                            {% elif loop.last %}
                                                {{ child.first_name }} were
                                            {% endif %}
                                        {% else %}
                                            {{ child.first_name }} was
                                        {% endif %}
                                    {% endfor %}
                                    given {{ medication.amount }} of {{ medication.medication_name }} at {{ medication.time_given }}
                                    {% if medication.reason %}
                                        due to {{ medication.reason }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.nappies %}
            {% for nappy in event.nappies %}
                    <div class="nappy">
                        <a href="{{ url_for('events.post', event_id=nappy.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>{{ nappy.nappy_type | capitalize }}</h4>

                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {% for child in event.children %}
                                        {% if loop.length > 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }},
                                            {% elif loop.last %}
                                                and {{ child.first_name }}
                                            {% endif %}
                                        {% elif loop.length == 2 %}
                                            {% if not loop.last %}
                                                {{ child.first_name }} and
                                            {% elif loop.last %}
                                                {{ child.first_name }}
                                            {% endif %}
                                        {% else %}
                                            {{ child.first_name }}
                                        {% endif %}
                                    {% endfor %}
                                    {% if nappy.nappy_type == "nappy" %}
                                        had a nappy change.
                                    {% elif nappy.nappy_type == "potty" %}
                                        used the potty.
                                    {% endif %}
                                </p>
                                <p>
                                    {% if nappy.condition %}
                                        <br>
                                        <p>Additional info: {{ nappy.condition }}</p>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% if event.notes %}
            {% for note in event.notes %}
                    <div class="note">
                        <a href="{{ url_for('events.post', event_id=note.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Note</h4>
                                </div>
                            </div>
                            <div class="event_info">
                                <p class="description">
                                    {{ note.description }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% if event.pictures %}
            {% for picture in event.pictures %}
                    <div class="picture">
                        <a href="{{ url_for('events.post', event_id=picture.event_id) }}">

                            <div class="event_title_container">
                                {% for child in event.children %}
                                <a href="{{ url_for('children.child_profile', child_id=child.child_id )}}">
                                    <div class="log_profile_picture {% if loop.last %}last-img{% endif %}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + child.picture) }}" alt="Child Picture">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="event_title">
                                    <h4>Picture</h4>
                                </div>
                            </div>
                            <div class="event_info caption">
                                <img src="{{ url_for('static', filename='event_pics/' + picture.picture_file) }}" alt="Picture">
                                <p class="description">
                                    {{ picture.caption }}
                                </p>
                            </div>
                        </a>
                        <div class="event_bottom">
                            
                            <p class="timestamp">
                                {{ event.event_time|format_date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="modal_container modal_container_{{ event.event_id }}">
                <dialog class="modal" id="modal_{{ event.event_id }}">
                    <h2>Delete Post</h2>
                    <p>Are you sure you want to delete this post?</p>
                    <div class="delete_modal">
                        <div class="delete_comment" data-url="{{ url_for('events.delete_event', event_id=event.event_id) }}" onclick="redirectToUrl(this)">
                            <p>Delete</p>
                        </div>
                        <div class="cancel" onclick="cancel({{ event.event_id }})">
                            <p>Cancel</p>
                        </div>

                    </div>
                </dialog>
            </div>
            <div class="event_bottom">
                <div class="comment_emoji" data-url="{{ url_for('events.post', event_id=event.event_id)}}" onclick="redirectToUrl(this)">
                    <i class="fa-solid fa-comment"></i><p>Comment</p>
                </div>
                {% if event.user_id == current_user.user_id %}
                <div class="delete_comment open_modal" onclick="showDeleteModal({{ event.event_id }})">
                    <i class="fa-solid fa-trash"></i><p>Delete</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    
    {% if events.pages > 1 %}
        <div class="pagination">
            {% for page_num in events.iter_pages() %}
                {% if page_num %}
                    {% if events.page == page_num %}
                        <a class="active_page" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="inactive_page" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>

{% if current_user.role == 'manager' or current_user.role == 'nanny' %}
<div class="events_container">
    <div class="add_event">
        <i class="fa-solid fa-circle-plus"></i>
    </div>
    <div class="events">
        <div class="close_tab">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div class="event_links">
            <ul>
                <li><a href="{{ url_for('events.activities') }}">Activity</a></li>
                <li><a href="{{ url_for('events.developmental') }}">Developmental</a></li>
                <li><a href="{{ url_for('events.food') }}">Food</a></li>
                <li><a href="{{ url_for('events.incident') }}">Incident</a></li>
                <li><a href="{{ url_for('events.medication') }}">Medication</a></li>
                <li><a href="{{ url_for('events.nappy') }}">Nappy</a></li>
                <li><a href="{{ url_for('events.note') }}">Note</a></li>
                <li><a href="{{ url_for('events.picture') }}">Picture</a></li>
                <li><a href="{{ url_for('events.sleep') }}">Sleep</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% else %}
    <h1>Welcome</h1>
{% endif %}
</div>


{% endblock %}